body {
    margin: 0;
    background-color: greenyellow;
    font-family: sans-serif;
  }
  
  .smile {
    width: 90px;
  }
  
  .drop-zone {
    height: 100px;
    border: 2px dotted black;
    width: 100px;
    margin-top: 3rem;
  }